.poppins {
    font-family: "Poppins", serif;
}

.bg-light-sky {
    background-color: #F4F7FF;
}

.dashed {
    border: 0.2px dashed transparent;
    background-image: linear-gradient(90deg, rgb(202, 201, 201) 50%, transparent 50%);
    background-size: 1rem 1rem;
    background-repeat: repeat;
}